{% extends "PortfolioScreen/base.html" %}
{% block content %}
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="navtable" href="/table">Tabelle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navchart" href="/chart">Charts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navsettings" href="/settings">Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
 <table class="table table-bordered">

            <tr>

                <th>Dateien</th>

             
            </tr>

            <tbody class="row_position">

           <!-- Kontaktcode in Django -->

                <tr  >

                    <td><!-- printdaten --></td>

                   
                </tr>

          

            </tbody>

        </table>


    {% for Stock in Stocks %}
        {{ Stock.ISIN }}<br>
        {{ Stock.PortionOfPortfolio}}<br>
    {% endfor %}
{% endblock content %}
